@font-face {
  font-family: 'DamienDisplayBold';
  font-weight: bold;
  font-style: bold;
  src: url('https://files.cargocollective.com/c160753/DamienDisplay_Bold.woff') format('woff');
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
}

body {
  background-color: #ffffff;
  font-family: 'Damien Text Reg';
  font-style: Normal;
  font-weight: Normal;
  color: #343f34;
  margin: 0;
  padding: 0;
  cursor: crosshair;
}
body ::selection {
  background: #333F33;
  color: #FF9F1C;
}
/* loading screen */
.loading {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   background-color: #333F33;
   z-index: 15;
   position: fixed;
   transition: opacity 1s
}

.loading__anim {
  width: 50px;
  height: 50px;
  border:  2px solid #ffffff;
  border-left-color: #FF9F1C;
  border-radius: 50%;
  display: block;
  animation: rotate 600ms infinite linear;
}

section.loading.hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes rotate {
  to {
    transform: rotate(1turn)
  }
}
.loading > p {
  color: #FF9F1C;
}

/* Headings & Paragraph Styles */
h1 {
  font-size: 2rem;
  font-family: 'DamienDisplayBold', serif;
  color: #FF9F1C;
  letter-spacing: .1rem;
}
h6 {
  color: #343f34;
}

p {
  font-size: 1em;
  font-family: 'Damien Text Reg';
  font-style: Normal;
  font-weight: Normal;
  color: #343f34;
  margin: 1em 0;
  line-height: 1.5;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 7em;
  position: fixed;
  padding: 2em;
  z-index: 1;
}

.line {
  width: 100%;
  border-bottom: 1px solid #FF9F1C;
}

.item {
  font-family: 'DamienDisplayBold', serif;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  padding: 0 2em;
  color: #FF9F1C;
  background-color: #ffffff;
}
.number {
  grid-column: 12;
  grid-row: 1;
  padding: 0 2em;
  color: #FF9F1C;
  background-color: #ffffff;
  z-index: 1;
}
.info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 7em;
  position: fixed;
  padding: 2em;
}

/* About */
.circle {
  height: 18em;
  width: 18em;
  background-color: #FF9F1C !important;
  border-radius: 50%;
  mix-blend-mode: multiply;
}

.line-2 {
  width: 100%;
  border-bottom: 1px solid #FF9F1C;
  grid-column: 2 / 4;
  display: flex;
  align-self: flex-start;
  grid-row: 1;
  margin-top: 2em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 2em;
  width: 100vw;
  position: fixed;
  padding: 2em;
  bottom: 0;
  z-index: 10;
}

img {
  object-fit: cover;
  object-position: center;
  height: 26em;
  width: auto;
  border: 1px solid #333F33;
  position: absolute;
}

.info-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 1s cubic-bezier(0.745, -0.015, 0.22, 0.995);
  -moz-transition: all 1s cubic-bezier(0.745, -0.015, 0.22, 0.995);
  transition: all 1s cubic-bezier(0.745, -0.015, 0.22, 0.995);
  transition-delay: 0.6s;
}

.portfolio-info {
  grid-column: 9 / 12;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 10;
}
.img-container {
  grid-column: 1 / 9;
  height: 100vh;
  padding: 2em;
  display: flex;
  margin-top: 4em;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  color: #343f34;
  font-size: 1.5rem;
  font-family: 'DamienDisplayBold', serif;
  letter-spacing: .05rem;
  text-align: left;
}
.portfolio-title {
  width: 100%;
  height: 7em;
  grid-column: 1 / 13;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
}
.one {
  z-index: 1;
}

.two {
  z-index: 0;
  margin-left: 2.5em;
  margin-top: 2.5em;
}
.three {
  z-index: -1;
  margin-left: 5em;
  margin-top: 5em;
}
.four {
  z-index: -2;
  margin-left: 10em;
  margin-top: 10em;
}
.five {
  z-index: -3;
  margin-left: 12.5em;
  margin-top: 10em;
}
.six {
  z-index: -4;
  margin-left: 15em;
  margin-top: 15em;
}
.seven {
  z-index: -5;
  margin-left: 15em;
  margin-top: 15em;
}
/*.above {
  transition-delay: 5s ease-in-out;
  transform: translateY(-200vh);
}
.current {
  transition-delay: 5s ease-in-out;
  transform: translateY(0vh);
}
.under {
  transform: translateY(100vh);
} */
#about {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  display: grid;
  opacity: 0;
  position: fixed;
}

.profile-img {
  height: 18em;
  border: none;
  background-color: none !important;
  mix-blend-mode: multiply;
}
.active-about {
  opacity: 1 !important;
  overflow: scroll;
  z-index: 10;
  transition: .2s linear;
}

.bio {
  grid-column: 2;
  padding: 2em;
}

a {
  text-decoration: none;
  color: #FF9F1C;
}

a:hover {
  color: #343f34;
  transition: color .2s ease-out;
}

img::selection {
  background: none;
}

/* testo desto*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-width: 320px;
}

.push {
  background: url("../assets/push-often.svg");
  height: 50%;
  width: 300%;
  position: absolute;
  top: 25%;
  right: 0;
  animation: slideshow 30s linear infinite;
}
@keyframes slideshow {
  0%    { right: 0; }
  100%  { right: -200%; }
}

button {
  background: none;
  font-size: 2rem;
  font-family: 'DamienDisplayBold', serif;
  color: #FF9F1C;
  letter-spacing: .1rem;
  border: none;
  outline: none;
}
button:hover {
  color: #343f34;
  transition: linear .5s;
}

/*
.box_1 {
/*  background-color: #464d38;
  z-index: 1;
  transform: translateY(0vh);
}

.box_2 {
/*  background-color: #5BBB98;
  z-index: 2;
  transform: translateY(100vh);
}

.box_3 {
  /*background-color: #af9164;
  z-index: 3;
  transform: translateY(200vh);
}

.box_4 {
/*  background-color: #49487b;
  z-index: 4;
  transform: translateY(300vh);
}

.box_5 {
/*  background-color: #154D9F;
  z-index: 5;
  transform: translateY(400vh);
}

.box_6 {
/*  background-color: #00BAA1;
  z-index: 6;
  transform: translateY(500vh);
}

.box_7 {
/*  background-color: #333F33;
  z-index: 7;
  transform: translateY(600vh);
}
.box_8 {
/*  background-color: #353128;
  z-index: 8;
  transform: translateY(700vh);
}
*/
.greeting {
  font-family: 'DamienDisplayBold', serif;
  font-size: 2rem;
  color: #343f34;
  height: 2em;
}

.scrl-ind::after {
  content: '╲╱';
  color: #FF9F1C;
  position: absolute;
  font-size: .5em;
  height: 2em;
  width: 100%;
  z-index: 10;
  bottom:0;
  padding: 3em;
  text-align: center;
  align-self: center;
  justify-content: space-around;
  animation: bounce 3.5s ease infinite;
}

footer::before .box_8 {
  display: none;
}
.marquee {
  overflow: hidden;
  position: relative;
  grid-column: 1 / 13;
  grid-row: 1;
  width: 100%;
  height: 100vh;
  margin: 0;
  z-index: -10;
  opacity: 0.35;
}


.img-container:hover::before {
  content: "☺ click + drag items ☺";
  color: #343f34;
  z-index: 15;
  margin-left: 40em;
  font-size: .75em;
  transition: .2s linear;
}

.img {
    background-color: #ffffff;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
h3 {
  font-family: 'DamienDisplayBold', serif;
  letter-spacing: .05rem;
  color: #343f34;
}


@media (max-width: 479px) {
   body {
     font-size: 14px;
   }

   .box_1 {
   /*  background-color: #464d38; */
     z-index: 0;
     transform: none;
     height: 100vh !important;
   }

   .box_2 {
   /*  background-color: #5BBB98; */
     z-index: 0;
     transform: none;
   }

   .box_3 {
     /*background-color: #af9164; */
     z-index: 0;
     transform: none;
   }

   .box_4 {
   /*  background-color: #49487b; */
     z-index: 0;
     transform: none;
   }

   .box_5 {
   /*  background-color: #154D9F; */
     z-index: 0;
     transform: none;
   }

   .box_6 {
   /*  background-color: #00BAA1; */
     z-index: 0;
     transform: none;
   }

   .box_7 {
   /*  background-color: #333F33; */
     z-index: 0;
     transform: none;
   }
   .box_8 {
   /*  background-color: #353128; */
     z-index: 0;
     transform: none;
   }

   .push {
     height: 200%;
     width: 400%;
     top: 0;
   }
   .marquee {
     overflow: hidden;
     position: relative;
     grid-column: 1;
     height: 35vh;
     margin: 0;
     z-index: -10;
     opacity: 0.5;
     top: 0;
     background-repeat: no-repeat;
     margin: 2em 0;
   }
    .portfolio-container {
     grid-template-columns: 1fr;
     display: flex;
     position: relative;
     flex-direction: column;
     grid-gap: 0;
     width: 100%;
     height: auto;
     min-height: 100%;
     justify-content: flex-start;
     padding: 2em;
    }
    .info-container {
     grid-template-columns: 1fr;
     display: flex;
     position: relative;
     flex-direction: column;
     grid-gap: 0;
     width: 100%;
     height: auto;
     min-height: 100%;
     justify-content: flex-start;
     padding: 2em;
    }
    .img-container {
      grid-column: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin-top: 0;
      margin: 0;
      padding: 0;
    }

    .one {
      margin: 0;
      z-index: 1;
      display: block;
    }

    .two {
      margin: 0;
      z-index: 1;
      display: block !important;
    }
    .three {
      margin: 0;
      z-index: 1;
      display: block !important;
    }
    .four {
      margin: 0;
      z-index: 1;
      display: block !important;
    }
    .five {
      margin: 0;
      z-index: 1 !important;
      display: block;
    }
    .portfolio-info {
      height: auto;
      width: auto;
      display: block;
      position: static;
      margin: 2em 0;
      z-index: 1;
    }
    .scrl-ind {
      display: none;
    }
    .scrl-ind::after {
      display:none;
    }
    .img {
      margin: 1em 0;
    }
    img {
        height: auto;
        width: 100%;
        display: block;
        position: static;
    }
    footer {
      background-color: #ffffff;
      height: 4em;
      align-items: center;
    }

    h1 {
      font-size: 1.25rem;
      letter-spacing: .05rem;
    }
    button {
      font-size: 1.25rem;
    }
    .line {
      width: 75%
    }
    header {
      display: none;
    }
    .draggable {
      display: none;
    }
    h2 {
      font-size: 1.25rem;
      width: 1em;
      letter-spacing: .05rem;
      text-align: left !important;
      width: auto;
      z-index: 0;
    }
    .item {
      display: none;
    }
    #about {
      grid-template-columns: 1fr;
      grid-row-gap: 0;
      padding: 2em;
    }
    .bio {
      grid-column: 1;
      padding: 0;
    }
    .line-2 {
      display: none;
    }

    .img-container:hover::before {
      display: none;
    }
    .number {
      grid-column: 1;
      padding: 0 1em 0 0;
    }
    .portfolio-title {
      height: 4em;
      grid-column: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      position: static;
    }
    .portfolio-title::after {
      background-color: #FF9F1C;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      width: 100%;
      z-index: 0;
    }
    .mobile-disc {
      display: block;
    }
}

@media (max-width: 800px) and (min-width: 479px) {
    .portfolio-title {
      grid-column: 1;
      top: 0;
    }

    .portfolio-container {
     grid-template-columns: 1fr;
     display: flex;
     flex-direction: column;
     grid-gap: 0;
     justify-content: center;
    }
    .info-container {
     grid-template-columns: 1fr;
     display: flex;
     flex-direction: column;
     grid-gap: 0;
     justify-content: center;
    }
    .item {
      top: 0;
    }
    .img-container {
      grid-column: 1;
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      width: 100%;
      height: 50%;
      margin-top: 0;
      margin: 0;
    }
    .scrl-ind {
      display: none;
    }
    .scrl-ind::after {
      display:none;
    }

    .portfolio-info {
      height: auto;
      width: auto;
      display: block;
      position: static;
      padding: 2em;
      z-index: 1;
    }
    .marquee {
      height: 60vh;
    }
    #about {
      grid-template-columns: 1fr;
      grid-row-gap: 0;
      padding: 2em;
    }
    .bio {
      grid-column: 1;
      padding: 0;
    }

    .line {
      width: 80%;
      border-bottom: 1px solid #FF9F1C;
    }
    .line-2 {
      display: none;
    }
    img {
      height: 18em;
      width: auto;
    }
    .img-container:hover::before {
      margin-left: 10em;
    }
    .mobile-disc {
      display: block;
    }
    footer {
    align-items: center;
    height: 10em;
    }
}

@media (min-width: 1600px) {
    img {
      height: 30em;
    }

}
