@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');
@font-face {
  font-family: 'DamienDisplayBold';
  font-weight: bold;
  font-style: bold;
  src: url('https://files.cargocollective.com/c160753/DamienDisplay_Bold.woff') format('woff');
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  background-color: #333F33;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  /*overflow: hidden; */
  cursor: crosshair;
}
body ::selection {
  color: #333F33;
  background: #FF9F1C;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}
h1 {
  font-size: 2rem;
  font-family: 'DamienDisplayBold', serif;
  color: #ffffff;
  letter-spacing: .1rem;
}

p {
  font-size: 1em;
  font-family: helvetica, sans-serif;
  color: #ffffff;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 8em;
  position: fixed;
  padding: 2em;
}
.circle {
  height: 5em;
  width: 5em;
  border: 4px solid #FF9F1C;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
}
.circle-2 {
  height: 20em;
  width: 20em;
  border: 4px solid #FF9F1C;
  border-radius: 50%;
}
.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  grid-column: 1;
}
.line {
  width: 90%;
  border-bottom: 4px solid #FF9F1C;
}
.item {
  z-index: 5;
  margin-left: 2em;
  width: 3em;
  height: 3em;
  mix-blend-mode: screen;
  background-size: contain;
}
.onion {
  background-image: url("../assets/onion.svg");
}
.wine {
  background-image: url("../assets/wine.svg");
}
.duo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: auto;
  width: 100%;
  margin: 0;
  position: fixed;
  padding: 2em;
  bottom: 0;
}
img {
  object-fit: cover;
  object-position: center;
  height: 24em;
  width: 18em;
  border: 4px solid #ffffff;
  position: absolute;
  background-color: #ffffff;
}
.front {
  z-index: 100;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 2em;
  height: 100% auto;
  transition: all 1s cubic-bezier(0.745, -0.015, 0.22, 0.995);
  transition-delay: 0.8s;
}
ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
}
.img-container {
  grid-column: 3 / 9;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test {
  border: 4px solid #000000 !important;
  z-index: 10 !important;
}

.done {
  display: none;
}
.new {
  border: 4px solid #000000;
}
.primary-image {
  /*grid-row: 1;*/
  transition: ease-in-out all 4s;
}
p {
  grid-column: 9 / 13;
  height: 100vh;
}
h2 {
  color: #ffffff;
  font-size: 1.5em;
  font-family: 'DamienDisplayBold', serif;
  transform: rotate(-180deg);
  letter-spacing: .15rem;
  text-align: center !important;
  writing-mode: vertical-rl;
  height: 100vh;
  width: 1.5em;
  margin: -0.25em;
  padding: 0;
}
.portfolio-title {
  height: 100%;
  width: 100%;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}
.one {
  z-index: 1;
}
.two {
  z-index: 0;
  margin-left: 5em;
  margin-top: 5em;
}
.three {
  z-index: -1;
  margin-left: 10em;
  margin-top: 10em;
}
.above {
  transition-delay: 5s ease-in-out;
  transform: translateY(-200vh);
}
.current {
  transition-delay: 5s ease-in-out;
  transform: translateY(0vh);
}
.under {
  transform: translateY(100vh);
}
#about {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
}
.active-about {
  opacity: 0;
}
.bio > p {
  color: #333F33 !important;
  grid-column: 2;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #FF9F1C;
  transition: color .5s ease-out;
}

/*div:hover img.three {
    z-index: 3 !important;
    border: 4px solid #FF9F1C;
} */

.profile > img {
  background: none;
  border: none;
  mix-blend-mode: multiply;
  height: 20em;
  width: 20em;
  object-fit: contain;
  margin-left: 2.5em;
  margin-top: 2em;
}
img::selection {
  background: none;
}
